* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  
}
/* Default font size for 1920px width */
:root {
  --base-font-size: 16px; /* Default base font size for 1920px */
}

/* Set font size for 1920px */
html {
  font-size: 16px; /* 1rem = 16px by default */
  scroll-behavior: smooth;
}

body {
  font-size: var(--base-font-size); /* This will make 1rem = 16px */
  font-family: 'Sofia Sans', sans-serif; 
  background: #ffffff;
  overflow-x: hidden;
}


/* Set Montserrat for headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif; /* Font for all headings */
}

/* Bold text for headings or any element */
h1, h2, h3, h4, h5, h6, .bold-text {
  font-weight: 900; /* Bold weight */
  color: #414042;
}

/* Normal text for paragraphs */
p {
  font-family: 'Sofia Sans', sans-serif; /* Font for paragraphs */
  color: #414042;
  margin: 0px;
  padding: 0px;
}


a {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none
}
li {
  list-style: none;
}
section {
  padding: 60px 0;
  overflow: hidden;

}

.owl-carousel{
  position: relative;
}

.owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  left: -4rem;
   background: none;
  
}
.owl-carousel .owl-nav button.owl-prev:hover {
   background: none; 
}
.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  right: -4rem;
   background: none;
}
.owl-carousel .owl-nav button.owl-next:hover {
  background: none; 
}
  


/* Mobile menu style starts here  */

.mobileupper{
  overflow-x: hidden;
}

.mobileupper .col4{
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobileupper img{
  height: 50%;
}

.mobileupper a{
  color: #414042;
  font-weight: 700;
  font-size: .9rem;
}
.overlay-slidedown {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
  transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background: #414042;
}
.overlay .overlay-close {
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;
  border: none;
  background: transparent;
  z-index: 100;
}
.overlay-slidedown.open {
  visibility: visible;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  overflow-y: scroll;
}
.overlay ul {
  padding: 1rem;
  margin-top: 2rem;
}
.overlay ul a{
  text-transform: uppercase;
  font-weight: 500;
  color: #ffffff;
  display: inline-block;
  padding: 1rem;
}
.overlay ul .dropdown-menu a{
  color: #000;
}


/* Mobile menu style ENDs here  */


/* COMMON CSS ENDS  */

::selection {
  background-color: #fdb913; 
  color: #ffffff; 
}

.desktopMenu .navbar .deskbelhed {
  display: flex;
  position: relative;
}
.upperheader ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.websiteLogo{
  position: absolute;
  top: -50%;
  left: 4%;
  z-index: 10;

}
.desktopMenu{
  height: 11.25rem;

}

.upperinfo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 1.5rem 3rem;
}
.upperinfo p{
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 1rem;
}

.upperinfo a{
 color: #414042;
 font-weight: 700;
}
.belowheader div{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.belowheader a{
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 17px;
}
.deskbelhed{
  background: #414042;
  padding: 0px;
  /* padding-left: 10px; */
  clip-path: polygon(30px 0, 100% 0, 100% 100%, 0 100%, 0 30px);
}
.deskbelhed li a{
  padding: 1rem 1.5rem;
  display: inline-block;
  transition:  0.5s ease;
}
.deskbelhed li a:hover{
  background: #ffcb04;
  color: #414042;
}


#homeheader{
  position: relative;
}

.wings{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}


.mainheading{
  font-size: 2.2rem;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.highlightedheading{
  color: #ffcb04;
}

.product-title-div{
  background: #f3ba2d;
  padding-top: 10px;
  padding-bottom: 10px;
}
.product-title{
  font-size: 1rem;
  font-weight: 700;
  color: #414042;
  text-align: center;
  text-transform: uppercase;
}
.edge{
  clip-path: polygon(60px 0, 100% 0, 100% 100%, 0 100%, 0 60px);
}

.grid-container {
  display: grid;
  gap: 10px; 
  grid-template-columns: repeat(4, 1fr); /* Default: 4 items on desktop */
  padding: 16px 0px;
}

.grid-item {
  /* padding: 5px; */
  text-align: center;
  font-size: 1rem;

}

.industriesname{
  margin-top: 2px;
  background: #ffcb04;
  padding: 5px;
  font-size: 13px;
  font-weight: 300;
}
.grid-item img{
  width: 100%;
  height: 250px;
}

.firstbutton{
  background: #414042;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: 'Montserrat';
  border-radius: 0px;
  border: none;
}
.firstbutton:hover{
  background: #ffcb04;
  color: #000;
}

.button-container{
  display: flex;
  justify-content: center;
}


.clientssays{
  border: 1px solid #bbbbbb;
  width: 99%;
}
.clientssays .col-9{
  padding-left: 0px;
}
.clientssaysimage{
  height: 140px;
  width: 140px;
}
.clientname{
  margin-top: 10px;
  font-size: 1.3rem;
  color: #000;
  font-weight: 600;

}
.clientssays p{
  font-size: 14px;
}
.customerssection{
  background: url('../images/customersbacckground.jpg');
  background-repeat: no-repeat;
  padding: 40px 0px;
  margin-top: 2rem;
  background-position: center center;
  background-size: cover;
}
.productcarousel .owl-carousel .item img {
  max-width: 100%; /* Prevent stretching horizontally */
  max-height: 100%; /* Prevent stretching vertically */
  object-fit: contain; /* Preserve the aspect ratio of images */
}


#footer{
  padding: 60px 0;
  background: url('../images/footerbackground.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#footer .container{
  width: 100%;
}
#footer h5{
  color: #fdb913;
  font-size: 23px;
  font-weight: 700;
}
#footer p{
  color: #fff;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  gap: 20px; 
}

.footer-item {
  flex: 1 1 calc(20% - 20px);
  max-width: calc(20% - 20px); 
  box-sizing: border-box; 
}
.footer-item:first-child {
  flex: 1 1 calc(30% - 20px);
  max-width: calc(30% - 20px);
}
.footer-item:nth-child(3){
  flex: 1 1 calc(30% - 20px); 
  max-width: calc(30% - 20px);
}
#footer ul{
  padding-left: 0px;
}

#footer a{
  color: #ffffff;
  font-weight: 19px;
}
#footer p{
  font-size: 19px;
}

#footer span{
  color: #fdb913;
}

.pageTitleSection{
  position: absolute;
  z-index: 2;
  bottom: 0;
  margin-bottom: 1rem;
}

.productssection{
  padding-top: 0px;
}
.ourproductnav{
  display: flex;
  justify-content: center;
  align-items: center;
}
.ourproductnavul{
  display: flex;
  border: 1px solid #535353;
  text-transform: uppercase;
  padding: 0;
  align-items: center;
}
.ourproductnavul li{
  padding: 5px;
  border-left: .5px solid #535353;
 
}
.ourproductnavul a{
  font-size: 1rem;
  color: #414042;
  font-weight: 500;
  text-align: center;
}

.ourproductnavul li:hover{
  background: #f3ba2d;
  color: #ffffff;
}

.ourproductnavul li:first-child {
  border-left: none; 
}

.productpageHeading{
  font-size: 2.1rem;
  color: #414042;
  font-weight: 900;
  line-height: 150%;
  text-align: center;
}

.product-container {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr); /* 4 columns for desktop */
  padding: 16px;
}

.product-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center; 
  text-align: center;
}

.product-item img {
  max-width: 100%; 
  max-height: 270px; 
  width: auto;
  height: auto;
  object-fit: contain; 
}

.readmore-container{
  margin-top: 2rem;
}

.readmorebutton{
  text-transform: uppercase;
  font-family: 'Sofia Sans', sans-serif; 
  color: #000000;
  font-size: 18px;
  border: 1px solid #414042;
  padding: .2rem 1rem;
  transition:  0.5s ease;
}

.readmorebutton:hover{
  background: #f3ba2d;
  color: #ffffff;
}




.contact-container {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(2, 1fr);
  padding: 16px;
  margin-top: 3rem;
}

.contact-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center; 
  text-align: center;
}


.contactdetials{
  background: #f3ba2d;
  text-align: left;
  padding: 2rem;
}
.contactform{
  width: 100%;
}

.contactform input , textarea{
  background: #f4f4f4;
  border-radius: 0px;
  border: none;
  margin: 10px 0;
}

.contactform p, label{
  color: #000;
  font-size: 17px;
  text-align: left;
}
.checkboxdiv{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.submitButton{
  background: #414042 !important;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: 'Montserrat';
  border-radius: 0px;
  border: none;
}
.submitButton:hover{
  color: #fff;
  background: #f3ba2d !important;
}
.contactform .form-check-input{
  border: 1px solid #f3ba2d;
}


/* single product */

.singleProductPage{
  padding-bottom: 60px;
}

.singleProductPage-container {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, 1fr); 
  padding: 16px;
}
.singlepage-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr); 

}
.singleProductPage-item {
  margin: .5rem 1rem;
}

.singlepagesection{
  border: 1px solid #414042;
}
.productPrice{
  padding: .5rem;
}
.productPrice p{
  font-weight: 700;
}
.single-isi{
  width: 86px;
  height: 70px;
  object-fit: contain;
}

.singlepagebutton{
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  display: block;
  background: #f3ba2d;
  padding: 5px;
  transition:  0.5s ease;

}
.singlepagebutton-two{
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  background: #414141;
  padding: 5px;
  transition:  0.5s ease;

}

.singlepagebutton:hover{
  color: #ffffff;
  background: #414141;

}


.singlepagebutton-two:hover{
  color: #000000;
  background: #f3ba2d;
}

/* Default hidden state for sections */
.infosection > div {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease; /* Smooth transition for opacity */
}

/* When the section is active */
.infosection > .descriptionSection.active,
.infosection > .additioninfoSection.active {
  display: block;
  opacity: 1;
}
.table th{
  color: #000;
  font-weight: 700;
}
.additioninfoSection .table th ,td{
  padding: .9rem !important;
}

.life-at-hillson .container-fluid{
  width: 90%;
}
.about-us .container-fluid{
  width: 90%;
}
.life-at-hillson p{
  font-size: 1.9rem;
  color: #4b4741;
}


.life-grid-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.life-column {
  flex: 30%;
  max-width: 35%;
  padding: 5px 8px;
}

.life-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.life-testimonial-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.life-testimonial-img img{
  height: 350px;
  width: 350px !important;
}
.life-testimonial-text p{
  color: #ffffff;
  font-weight: 400;
}


.life-testimonial-carousel-container{
  position: relative;
}

/* Center the dots container */
.owl-dots {
  position: absolute;
  bottom: -50px; 
  left: 50%;
  transform: translateX(-50%); /* Center the dots horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style individual dots */
.owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px; /* Adjust spacing between dots */
  background: #D6D6D6; /* Default dot color */
  display: block;
  transition: opacity 0.2s ease, background-color 0.2s ease;
  border-radius: 50%; /* Make dots circular */
}

/* Active dot color and hover effect */
.owl-dots .owl-dot.active span, 
.owl-dots .owl-dot:hover span {
  background: #f3ba2d; 
}


.lifehead{
  font-size: 3.6rem;
  font-weight: 400;
}

.opening-carousel{
  margin-top: 3rem;
}
.positionbox{
  background: #f3ba2d;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 2rem;
}
.position-title p{
  font-size: 2.3rem;
  font-weight: 700;
  color: #414042;
}
#managementSection{
  background: #ebeced;
}

.imagebox{
  position: relative;
  height: 400px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}
.imagebox img{
  position: absolute;
  max-width: 100%; 
  max-height: 100%; 
  bottom: 0;
}
.managementSectionContent p{
  text-align: justify;
}


.timeline-grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 10px; 
  padding: 10px;
}
.timeline-grid-item{
  /* border-left: 2px solid #fcb918; */
  padding: 0px 20px;
  position: relative;
}
.timelingepoint{
  position: absolute;
  top: 0px;
  left: 0;
  height: 100%;
  width: auto;
  left: -12%;
}
.timelingepointfifth{
  height: 98%;
}
.timelingepointfour{
  height: 110%;
}
.timelingepointthird{
  height: 116%;
}
.timelingepointsecond{
  height: 117%;
}
.timelingepointfirst{
  height: 127%;
}
.year{
  font-size: 3.5rem;
  font-weight: 900;
  font-family: 'Sofia Sans', sans-serif; 
  color: #424143;
  letter-spacing: -2px;
}
.margin-fourth{
  margin-top: 20%;
}

.margin-third{
  margin-top: 50%;
}

.margin-second{
  margin-top: 70%;
}

.margin-first{
  margin-top: 90%;
}
.roadImg{
  width: 100%;
  margin-top: -13%;
}
.greenfactory{
  background: url('../images/building.png');
  /* height: 1000px; */
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -44%;
}
.greenfactorDiv{
  margin-top: 25%;
}
.greenfactorDiv .mainheading{
  margin-right: 9%;
}
.factoryContent{
  padding: 2rem 1.5rem;
  background-color: rgba(28, 126, 72, 0.7); 
  margin-top: 3rem;
  float: right;
}
.factoryContent p{
  color: #fff;
  text-align: justify;
}
.missionVission{
  text-align: center;
  background: #fcb817;
  height: 400px;
}
.missionVission img{
  width: 20%;

}
.missionVission-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.middiv{
  background: url('../images/values.png');
  height: 400px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.missionVission-container p{
  text-align: left;
  margin-top: 1rem;
}
.missionVission-container h2{
  text-align: left;
}
/* .road{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
} */
.modal-dialog {
        max-width: 90%; 
}

/*****/

.industries-page .container-fluid{
  width: 90%;
}
.industry-container {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 20px;
  width: 100%;
}
.industry-container2 {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 20px;
  width: 100%;
}
.industry-left {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}
.industry-left2 {
 
  display: flex;
  align-items: center;
  justify-content: center;
}

.industry-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.industry-right2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.industry-row {
  display: flex;
  align-items: self-start;
  justify-content: center;
}
.industry-container img{
  width: 100%;
  height: 100%;
}
.industry-container2 img{
  width: 100%;
  height: 100%;
}

.indus{
  position: relative;
}
.indusviewmore{
  color: #ffffff;
  text-transform: capitalize;
  position: absolute;
  z-index: 1;
  margin-top: 1rem;
  right: 0;
  top: 0;
  margin-right: 1rem;
  font-size: 1.2rem;
}
.industryDiv{
  position: absolute;
  z-index: 2;
  right: 15%;
  bottom: 15%;
}
.industryDivVer{
  position: absolute;
  z-index: 2;
  left: 10%;
  top: 10%;
}
.industsafe{
  text-transform: uppercase;
  color: #f4bb29;
  font-size: 1.25rem;
  font-weight: 400;

}
.indusname{
  text-transform: uppercase;
  color: #ffffff;
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 700;
}




/** RESPONSIVE MEDIA QUERY **/

/* Small screens, such as smartphones */
@media (max-width: 767px) {
  html {
    font-size: calc(16px * 0.8); /* Smaller font for smaller screens */
  }
  .desktopMenu {
    display: none;
  }
  .wings{
    width: 45%;
  }
  #homeheader{
    margin-top: -1rem;
  }
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* 2 items per row */
  }
  .footer-item {
    flex: 1 1 100% !important; 
    max-width: 100% !important;
  }
  .acchead{
    overflow-x: hidden;
  }
  .acchead h2{
    font-size: 16px;
  }
  .acchead img{
    width: 10%;
    margin: 5px;
  }
  .grid-item img{
    height: 150px;
  }
  .owl-carousel .owl-nav button.owl-next {
    display: none;
  }
  .ourproductnavul a{
    font-size: .6rem;
  }
   .product-container {
    grid-template-columns: repeat(2, 1fr); 
  }
  .contact-container {
    display: block;

  }
  .singleProductPage-container {
    grid-template-columns: repeat(1, 1fr); 
  }
  .life-at-hillson p{
    font-size:1rem;
  }
  .life-column {
    flex: 100%;
    max-width: 100%;
  }
  .life-at-hillson .productpageHeading {
    font-size: 1.3rem;
  }
  .life-testimonial-img img{
    height: 150px;
    width: 150px !important;
  }

  .lifehead{
    font-size: 2rem;
  }

  .imagebox{
    height: 250px;
  }
  .timeline-grid-container{
    grid-template-columns: repeat(1, 1fr);
  }
  .timelingepoint {
    display: none;
  }
  .margin-first{
    margin-top: 0px;
  }
  .margin-second{
    margin-top: 10%;
  }
  .margin-third{
    margin-top: 10%;
  }
  .margin-fourth{
    margin-top: 10%;
  }
  .margin-fifth{
    margin-top: 10%;
  }
  .roadImg{
    display: none;
  }
  .greenfactory{
    margin-top: 0px;
  }
  .greenfactorDiv{
    margin-top: 0px;
  }
  .greenfactorDiv h2{
    text-align: center !important;
  }
  .missionVission-container{
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .missionVission{
    height: auto;
    padding: 1rem;
  }
  /*****/
  .about-us .container-fluid{
    width: 100%;
  }
  /* .industries-page .container-fluid{
    width: 100%;
  } */
  .indusname{
    font-size: 1rem;
  }
  .industsafe{
    font-size: .8rem;
  }
  .indusviewmore{
    font-size: .8rem;
  }
}

/* Tablets in portrait mode */
@media (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: calc(16px * 0.85); /* Slightly smaller font for tablets */
  }
  .desktopMenu{
    display: none;
  }
  .wings{
    width: 45%;
  }
  .container{
    width: 80%;
  }

  .footer-item {
    flex: 1 1 100% !important; 
    max-width: 100% !important;
  }
  .acchead h2{
    font-size: 16px;
  }
  .acchead img{
    width: 10%;
    margin: 5px;
  }
  .grid-item img{
    height: 150px;
  }
  .ourproductnavul a{
    font-size: .6rem;
  }
   .product-container {
    grid-template-columns: repeat(2, 1fr); 
  }

  .contact-container {
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);

  }
  .contact-container {
    display: block;

  }
  .singleProductPage-container {
    grid-template-columns: repeat(1, 1fr); 
  }
  .life-at-hillson p{
    font-size:1rem;
  }
  .life-at-hillson .productpageHeading {
    font-size: 1.3rem;
  }
  .life-testimonial-img img{
    height: 200px;
    width: 200px !important;
  }
  .lifehead{
    font-size: 2rem;
  }
  .imagebox{
    height: 250px;
  }
  .timeline-grid-container{
    grid-template-columns: repeat(1, 1fr);
  }
  .timelingepoint {
    display: none;
  }
  .margin-first{
    margin-top: 0px;
  }
  .margin-second{
    margin-top: 10%;
  }
  .margin-third{
    margin-top: 10%;
  }
  .margin-fourth{
    margin-top: 10%;
  }
  .margin-fifth{
    margin-top: 10%;
  }
  .roadImg{
    display: none;
  }
  .greenfactory{
    margin-top: 0px;
  }
  .greenfactorDiv{
    margin-top: 0px;
  }
  .greenfactorDiv h2{
    text-align: center !important;
  }
  .missionVission-container{
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .missionVission{
    height: auto;
    padding: 1rem;
  }
  /*****/
  .about-us .container-fluid{
    width: 100%;
  }
  /* .industries-page .container-fluid{
    width: 100%;
  } */
  .indusname{
    font-size: 1rem;
  }
  .industsafe{
    font-size: .8rem;
  }
  .indusviewmore{
    font-size: .8rem;
  }
}

/* Tablets in landscape mode and small desktops */
@media (min-width: 1024px) and (max-width: 1399px) {
  html {
    font-size: calc(16px * 0.9); /* Base font size for small desktops */
  }
  .mobileMenu{
    display: none;
  }
  .websiteLogo{
    height: 200px;
    width: 200px;
    top: -75%;
  }
  .deskbelhed li a{
    padding:1rem 1.2rem;
    font-size: 1rem;
  }
  .wings{
    width: 45%;
  }
  .container{
    width: 80%;
  }
  .life-testimonial-img img{
    height: 250px;
    width: 250px !important;
  }
  .lifehead{
    font-size: 3rem;
  }
  .life-at-hillson p{
    font-size: 1.6rem;
  }
  .greenfactory{
    margin-top: -56%;
  }
  .greenfactorDiv{
    margin-top: 34%;
  }
  .year{
    font-size: 3rem;
  }
}

/* Standard desktops and laptops */
@media (min-width: 1400px) and (max-width: 1919px) {
  html {
    font-size: calc(16px * 0.95); /* Larger font size for standard desktops */
  }
  .mobileMenu{
    display: none;
  }
  .websiteLogo{
    height: 200px;
    width: 200px;
    top: -70%;
  }
  .deskbelhed li a{
    padding:1rem 1.2rem;
    font-size: 1rem;
  }
  .wings{
    width: 45%;
  }
  .container{
    width: 80%;
  }
  .life-testimonial-img img{
    height: 250px;
    width: 250px !important;
  }
  .lifehead{
    font-size: 3rem;
  }
  .life-at-hillson p{
    font-size: 1.6rem;
  }
  .greenfactory{
    margin-top: -52%;
  }
  .greenfactorDiv{
    margin-top: 30%;
  }

}

/* Large screens and high-resolution displays */
@media (min-width: 1920px) {
  html {
    font-size: 16px; /* 1rem = 16px for 1920px screens */
  }
  .mobileMenu{
    display: none;
  }
  .upperinfo{
    margin: 1.5rem 5rem;
  }
}
