* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  
}
/* Default font size for 1920px width */
:root {
  --base-font-size: 16px; /* Default base font size for 1920px */
}

/* Set font size for 1920px */
html {
  font-size: 16px; /* 1rem = 16px by default */
  scroll-behavior: smooth;
}

body {
  font-size: var(--base-font-size); /* This will make 1rem = 16px */
  font-family: 'Sofia Sans', sans-serif; 
  background: #ffffff;
  overflow-x: hidden;
}


/* Set Montserrat for headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif; /* Font for all headings */
}

/* Bold text for headings or any element */
h1, h2, h3, h4, h5, h6, .bold-text {
  font-weight: 900; /* Bold weight */
  color: #414042;
}

/* Normal text for paragraphs */
p {
  font-family: 'Sofia Sans', sans-serif; /* Font for paragraphs */
  color: #414042;
  margin: 0px;
  padding: 0px;
}


a {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none
}
li {
  list-style: none;
}
section {
  padding: 60px 0;
  overflow: hidden;

}

.owl-carousel{
  position: relative;
}

.owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  left: -4rem;
   background: none;
  
}
.owl-carousel .owl-nav button.owl-prev:hover {
   background: none; 
}
.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  right: -4rem;
   background: none;
}
.owl-carousel .owl-nav button.owl-next:hover {
  background: none; 
}
  


/* Mobile menu style starts here  */

.mobileupper{
  overflow-x: hidden;
}

.mobileupper .col4{
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobileupper img{
  height: 50%;
}

.mobileupper a{
  color: #414042;
  font-weight: 700;
  font-size: .9rem;
}
.overlay-slidedown {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
  transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background: #414042;
}
.overlay .overlay-close {
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;
  border: none;
  background: transparent;
  z-index: 100;
}
.overlay-slidedown.open {
  visibility: visible;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  overflow-y: scroll;
}
.overlay ul {
  padding: 1rem;
  margin-top: 2rem;
}
.overlay ul a{
  text-transform: uppercase;
  font-weight: 500;
  color: #ffffff;
  display: inline-block;
  padding: 1rem;
}
.overlay ul .dropdown-menu a{
  color: #000;
}


/* Mobile menu style ENDs here  */


/* COMMON CSS ENDS  */

.desktopMenu .navbar .deskbelhed {
  display: flex;
  position: relative;
}
.upperheader ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.websiteLogo{
  position: absolute;
  top: -50%;
  left: 4%;
  z-index: 10;

}
.desktopMenu{
  height: 11.25rem;

}

.upperinfo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 1.5rem 3rem;
}
.upperinfo p{
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 1rem;
}

.upperinfo a{
 color: #414042;
 font-weight: 700;
}
.belowheader div{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.belowheader a{
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 17px;
}
.deskbelhed{
  background: #414042;
  padding: 0px;
  /* padding-left: 10px; */
  clip-path: polygon(30px 0, 100% 0, 100% 100%, 0 100%, 0 30px);
}
.deskbelhed li a{
  padding: 1rem 1.5rem;
  display: inline-block;
  transition:  0.5s ease;
}
.deskbelhed li a:hover{
  background: #ffcb04;
  color: #414042;
}


#homeheader{
  position: relative;
}

.wings{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}


.mainheading{
  font-size: 2.2rem;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.highlightedheading{
  color: #ffcb04;
}

.product-title-div{
  background: #f3ba2d;
  padding-top: 10px;
  padding-bottom: 10px;
}
.product-title{
  font-size: 1rem;
  font-weight: 700;
  color: #414042;
  text-align: center;
}
.edge{
  clip-path: polygon(60px 0, 100% 0, 100% 100%, 0 100%, 0 60px);
}

.grid-container {
  display: grid;
  gap: 10px; 
  grid-template-columns: repeat(4, 1fr); /* Default: 4 items on desktop */
  padding: 16px 0px;
}

.grid-item {
  /* padding: 5px; */
  text-align: center;
  font-size: 1rem;

}

.industriesname{
  margin-top: 2px;
  background: #ffcb04;
  padding: 5px;
  font-size: 13px;
  font-weight: 300;
}
.grid-item img{
  width: 100%;
  height: 250px;
}

.firstbutton{
  background: #414042;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: 'Montserrat';
  border-radius: 0px;
  border: none;
}
.firstbutton:hover{
  background: #ffcb04;
  color: #000;
}

.button-container{
  display: flex;
  justify-content: center;
}


.clientssays{
  border: 1px solid #bbbbbb;
  width: 99%;
}
.clientssays .col-9{
  padding-left: 0px;
}
.clientssaysimage{
  height: 140px;
  width: 140px;
}
.clientname{
  margin-top: 10px;
  font-size: 1.3rem;
  color: #000;
  font-weight: 600;

}
.clientssays p{
  font-size: 14px;
}
.customerssection{
  background: url('../images/customersbacckground.jpg');
  background-repeat: no-repeat;
  padding: 40px 0px;
  margin-top: 2rem;
  background-position: center center;
  background-size: cover;
}
.productcarousel .owl-carousel .item img {
  max-width: 100%; /* Prevent stretching horizontally */
  max-height: 100%; /* Prevent stretching vertically */
  object-fit: contain; /* Preserve the aspect ratio of images */
}


#footer{
  padding: 60px 0;
  background: url('../images/footerbackground.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#footer .container{
  width: 100%;
}
#footer h5{
  color: #fdb913;
  font-size: 23px;
  font-weight: 700;
}
#footer p{
  color: #fff;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  gap: 20px; 
}

.footer-item {
  flex: 1 1 calc(20% - 20px);
  max-width: calc(20% - 20px); 
  box-sizing: border-box; 
}
.footer-item:first-child {
  flex: 1 1 calc(30% - 20px);
  max-width: calc(30% - 20px);
}
.footer-item:nth-child(3){
  flex: 1 1 calc(30% - 20px); 
  max-width: calc(30% - 20px);
}
#footer ul{
  padding-left: 0px;
}

#footer a{
  color: #ffffff;
  font-weight: 19px;
}
#footer p{
  font-size: 19px;
}

#footer span{
  color: #fdb913;
}

/** RESPONSIVE MEDIA QUERY **/

/* Small screens, such as smartphones */
@media (max-width: 767px) {
  html {
    font-size: calc(16px * 0.8); /* Smaller font for smaller screens */
  }
  .desktopMenu {
    display: none;
  }
  .wings{
    width: 45%;
  }
  #homeheader{
    margin-top: -1rem;
  }
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* 2 items per row */
  }
  .footer-item {
    flex: 1 1 100% !important; 
    max-width: 100% !important;
  }
  .acchead{
    overflow-x: hidden;
  }
  .acchead h2{
    font-size: 16px;
  }
  .acchead img{
    width: 10%;
    margin: 5px;
  }
  .grid-item img{
    height: 150px;
  }
  .owl-carousel .owl-nav button.owl-next {
    display: none;
  }
}

/* Tablets in portrait mode */
@media (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: calc(16px * 0.85); /* Slightly smaller font for tablets */
  }
  .desktopMenu{
    display: none;
  }
  .wings{
    width: 45%;
  }
  .container{
    width: 80%;
  }

  .footer-item {
    flex: 1 1 100% !important; 
    max-width: 100% !important;
  }
  .acchead h2{
    font-size: 16px;
  }
  .acchead img{
    width: 10%;
    margin: 5px;
  }
  .grid-item img{
    height: 150px;
  }
}

/* Tablets in landscape mode and small desktops */
@media (min-width: 1024px) and (max-width: 1399px) {
  html {
    font-size: calc(16px * 0.9); /* Base font size for small desktops */
  }
  .mobileMenu{
    display: none;
  }
  .websiteLogo{
    height: 200px;
    width: 200px;
    top: -75%;
  }
  .deskbelhed li a{
    padding:1rem 1.2rem;
    font-size: 1rem;
  }
  .wings{
    width: 45%;
  }
  .container{
    width: 80%;
  }
}

/* Standard desktops and laptops */
@media (min-width: 1400px) and (max-width: 1919px) {
  html {
    font-size: calc(16px * 0.95); /* Larger font size for standard desktops */
  }
  .mobileMenu{
    display: none;
  }
  .websiteLogo{
    height: 200px;
    width: 200px;
    top: -70%;
  }
  .deskbelhed li a{
    padding:1rem 1.2rem;
    font-size: 1rem;
  }
  .wings{
    width: 45%;
  }
  .container{
    width: 80%;
  }
}

/* Large screens and high-resolution displays */
@media (min-width: 1920px) {
  html {
    font-size: 16px; /* 1rem = 16px for 1920px screens */
  }
  .mobileMenu{
    display: none;
  }
  .upperinfo{
    margin: 1.5rem 5rem;
  }
}
